:root{
    --clr:#5098f7;
    --drk:rgb(8, 75, 201);
    --light:#c7eaff;
    --grn:#6fff76;
    --ylw:#fdff6f;
    --org:#ffb56f;
    --rd:#ff6f6f;
}

body{
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s;
    /* height: 100vh; */
}

#time{
    width: 50vw;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 2vw;
    box-shadow: 0 0 4vw 1vw rgba(0,0,0,0.2);
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
}

.time_container{
    position: relative;
    width: 120%;
    left: -10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 1vw;
    background-color: var(--light);
    box-shadow: 0 0 1.5vw 0.1vw rgba(0,0,0,0.2);
    margin: 5vh 0 5vh 0;
    transition: background-color 0.5s;
}

.option_container{
    z-index: 3;
    display: flex;
    justify-content: center;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 98vw;
    border-radius: 0 0 5vw 5vw;
    box-shadow: 0 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.2);
    transition: background-color 0.5s, box-shadow 0.5s;
}

#bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 2;
    justify-content: center;
    gap: 5vh;
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0,0,0,0.2);
    transition: visibility 0.5s, opacity 0.5s;
}

#options{
    transition: visibility 0.5s, opacity 0.5s;
}

.input_group{
    display: flex;
    height: 10%;
    width: 80%;
    border-radius: 1vw;
    align-items: center;
    justify-content: space-evenly;
    position:relative;
}

.box{
    position: relative;
    width: 4vh;
    height: 4vh;
    border-radius: 2vw;
}

.input_text{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.inpdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
    gap: 1vw;
}

.input_box{
    width: 4vw;
    font-size: 2vw;
    background-color: var(--light);
    border: solid var(--drk);
    border-radius: 1vw;
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw rgba(0,0,0,0.2);
    font-family: Verdana;
}

.transp{
    background-color: transparent;
    box-shadow: none;
}

.button_container{
    display: flex;
    justify-content: space-evenly;
}

.button{
    padding: 0.5vh 1vw 0.5vh 1vw;
    box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem var(--drk);
    border-radius: 1vw;
    border: solid var(--clr);
    background-color: var(--light);
    color: black;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

.pressed {
    background-color: var(--clr);
    color: var(--light);
    /* transform: translateY(4px); */
    box-shadow: 0.2vw 0.2vw 0.1vw 0.1vw var(--drk) inset;
    pointer-events: none;
}

.warn1{
    background-color: var(--grn);
}

.warn2{
    background-color: var(--ylw);
}

.warn3{
    background-color: var(--org);
}

.warn4{
    background-color: var(--rd);
}

.button:hover{
    transform: translateY(-2px);
    background-color: var(--clr);
    color: var(--light);
}

.option_container{
    padding: 1vw;
}

.head{
    font-size: 3vw;
    margin: 0;
    font-family: Verdana;
}

.digit{
    font-size: 8vw;
    font-family: Verdana;
}

.txt{
    font-size: 2vw;
    font-family: Verdana;
}


